appdirs==1.4.3
astroid==2.4.2
beautifulsoup4==4.9.3
bs4==0.0.1
CacheControl==0.12.6
certifi==2019.11.28
chardet==3.0.4
click==7.1.2
colorama==0.4.3
contextlib2==0.6.0
decorator==4.4.2
distlib==0.3.0
distro==1.4.0
dlib==19.21.0
face-recognition==1.3.0
face-recognition-models==0.3.0
html5lib==1.0.1
idna==2.8
imageio==2.9.0
imageio-ffmpeg==0.4.2
insta-scraper==1.1.7
instagram-scraper==1.9.1
ipaddr==2.2.0
isort==5.6.4
lazy-object-proxy==1.4.3
lockfile==0.12.2
mccabe==0.6.1
moviepy==1.0.3
msgpack==0.6.2
numpy==1.19.4
packaging==20.3
pep517==0.8.2
Pillow==8.0.1
proglog==0.1.9
progress==1.5
pylint==2.6.0
pyparsing==2.4.6
pytoml==0.1.21
requests==2.22.0
retrying==1.3.3
six==1.14.0
soupsieve==2.0.1
toml==0.10.2
tqdm==4.51.0
urllib3==1.25.8
webencodings==0.5.1
wget==3.2
wrapt==1.12.1
